In [1]:
import sqlite3

In [2]:
"""create a new database if the database doesn't already exist
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
"""

conn = sqlite3.connect("testing.db")
# enforce foreign key rules
conn.execute("PRAGMA foreign_keys = 1")
c = conn.cursor()

# create tables
c.execute("""CREATE TABLE IF NOT EXISTS Mst_testcases (
            testcase_id INTEGER PRIMARY KEY,
            name TEXT,
            test_category TEXT,
            description TEXT,
            steps TEXT,
            expected_result TEXT,
            automated TEXT )""")

c.execute("""CREATE TABLE IF NOT EXISTS Mst_projects (
            project_id INTEGER PRIMARY KEY,
            name TEXT,
            description TEXT )""")

c.execute("""CREATE TABLE IF NOT EXISTS Mapping (
            map_id INTEGER PRIMARY KEY,
            project_id INTEGER,
            testcase_id INTEGER,
            FOREIGN KEY(project_id) REFERENCES Mst_projects(project_id),
            FOREIGN KEY(testcase_id) REFERENCES Mst_testcases(testcase_id)
            ON DELETE CASCADE )""")

c.execute("""CREATE TABLE IF NOT EXISTS testresults (
            tr_id INTEGER PRIMARY KEY,
            map_id INTEGER,
            result_description TEXT,
            config_info TEXT,
            tester TEXT,
            execution_date TEXT,
            pass_fail TEXT,
            FOREIGN KEY(map_id) REFERENCES Mapping(map_id)
            ON DELETE CASCADE )""")


''' add uniqueness constraint on mapping table project id and testcase id'''
c.execute("""CREATE UNIQUE INDEX IF NOT EXISTS unique_mapping_index
            ON Mapping(project_id, testcase_id)""")



# insert or ignore project id 1 and testcase id 1 into mapping table
c.execute("INSERT OR IGNORE INTO Mapping(project_id, testcase_id) VALUES(1, 1)")

In [8]:
# insert data into tables
c.execute("INSERT INTO Mst_testcases (name, test_category, description, steps, expected_result, automated) VALUES(:name, :test_category, :description, :steps, :expected_result, :automated)", 
{'name': 'testcase1', 'test_category':'test category 1','description': 'testcase1 description', 'steps': 'testcase1 steps', 
'expected_result': 'testcase1 expected result', 'automated': 'Yes'}) 

conn.commit()

In [9]:
# insert data into Mst_projects
c.execute("INSERT INTO Mst_projects (name, description) VALUES(:name, :description)",
{'name': 'project1', 'description': 'project1 description'})
conn.commit()

In [10]:
# insert data into Mapping
c.execute("INSERT INTO Mapping (project_id, testcase_id) VALUES(:project_id, :testcase_id)",
{'project_id': 1, 'testcase_id': 1})

# insert data into testresults
c.execute("INSERT INTO testresults (map_id, result_description, config_info, tester, execution_date, pass_fail) VALUES(:map_id, :result_description, :config_info, :tester, :execution_date, :pass_fail)",
{'map_id': 1, 'result_description': 'testcase1 result description', 'config_info': 'testcase1 config info', 'tester': 'tester1', 'execution_date': '2019-01-01', 'pass_fail': 'pass'})

conn.commit()

In [11]:
for row in (c.execute('SELECT * FROM Mst_testcases')):
    print(row)

for row in (c.execute('SELECT * FROM Mst_projects')):
    print(row)

for row in (c.execute('SELECT * FROM Mapping')):
    print(row)

for row in (c.execute('SELECT * FROM testresults')):
    print(row)

(1, 'testcase1', 'test category 1', 'testcase1 description', 'testcase1 steps', 'testcase1 expected result', 'Yes')
(1, 'project1', 'project1 description')
(2, 'project1', 'project1 description')
(1, 1, 1)
(1, 1, 'testcase1 result description', 'testcase1 config info', 'tester1', '2019-01-01', 'pass')

In [12]:
# select all rows from mapping table, then join with testcases table and projects table
for row in (c.execute('SELECT Mst_projects.name, Mst_projects.description, Mst_testcases.name FROM Mst_testcases INNER JOIN Mapping ON Mst_testcases.testcase_id = Mapping.testcase_id INNER JOIN Mst_projects ON Mst_projects.project_id = Mapping.project_id')):
    print(row)

('project1', 'project1 description', 'testcase1')

In [1]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

'database schema\n        database name testing.db\n        tables\n        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)\n        2. Mst_projects (project_id, name, description)\n        3. Mapping (map_id, project_id, testcase_id)\n        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)\n        ON DELETE CASCADE\n        \n'

In [1]:
d = {'table1_length': '10', '1_3_ResDescription': 'tried', '1_3_ConfigInfo': '1234', '1_3_Tester': 'Vaibhav', '1_3_Date': 'today', '1_3_PassFail': 'fail', '2_3_ResDescription': 'tried again', '2_3_ConfigInfo': '2345', '2_3_Tester': 'Rahul', '2_3_Date': 'yesterday', '2_3_PassFail': 'fail', '5_3_ResDescription': '', '5_3_ConfigInfo': '', '5_3_Tester': '', '5_3_Date': '', '5_3_PassFail': '', 'addsrc': 'Add Test Results'}

In [2]:
# filter d to only include keys that start with a number
d_filtered = {k: v for k, v in d.items() if "Description" in k or "ConfigInfo" in k or "Tester" in k or "Date" in k or "PassFail" in k}

In [17]:
d_filtered

{'1_3_ResDescription': 'tried',
 '1_3_ConfigInfo': '1234',
 '1_3_Tester': 'Vaibhav',
 '1_3_Date': 'today',
 '1_3_PassFail': 'fail',
 '2_3_ResDescription': 'tried again',
 '2_3_ConfigInfo': '2345',
 '2_3_Tester': 'Rahul',
 '2_3_Date': 'yesterday',
 '2_3_PassFail': 'fail',
 '5_3_ResDescription': '',
 '5_3_ConfigInfo': '',
 '5_3_Tester': '',
 '5_3_Date': '',
 '5_3_PassFail': ''}

In [24]:
#convert d_filtered to list splitiong the key by _
d_filtered_list = []
for k, v in d_filtered.items():
    if(len(v) > 1):
        # d_filtered_list.append(k.split('_'))
        temp = (k.split('_'))
        temp.extend([v])
        d_filtered_list.append(temp)

d_filtered_list

[['1', '3', 'ResDescription', 'tried'],
 ['1', '3', 'ConfigInfo', '1234'],
 ['1', '3', 'Tester', 'Vaibhav'],
 ['1', '3', 'Date', 'today'],
 ['1', '3', 'PassFail', 'fail'],
 ['2', '3', 'ResDescription', 'tried again'],
 ['2', '3', 'ConfigInfo', '2345'],
 ['2', '3', 'Tester', 'Rahul'],
 ['2', '3', 'Date', 'yesterday'],
 ['2', '3', 'PassFail', 'fail']]

In [ ]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''
# d_filtered_list is a list of lists with the following structure
# each element is a list of length 3, first being the testcase_id, second being the project_id, third being the result_description
# use the testcase_id and project_id to select the row from mapping table

c.execute("SELECT * FROM Mapping WHERE testcase_id = :testcase_id AND project_id = :project_id",
{'testcase_id': 1, 'project_id': 1})

In [29]:
d_filtered_list = []
for k, v in d_filtered.items():
    if(len(v) > 1):
        # d_filtered_list.append(k.split('_'))
        temp = (k.split('_'))
        temp.extend([v])
        d_filtered_list.append(temp)

# rewrite the above as list comprehension
d_filtered_list = [k.split('_')+ [v] for k, v in d_filtered.items() if len(v) > 1]

In [30]:
d_filtered_list

[['1', '3', 'ResDescription', 'tried'],
 ['1', '3', 'ConfigInfo', '1234'],
 ['1', '3', 'Tester', 'Vaibhav'],
 ['1', '3', 'Date', 'today'],
 ['1', '3', 'PassFail', 'fail'],
 ['2', '3', 'ResDescription', 'tried again'],
 ['2', '3', 'ConfigInfo', '2345'],
 ['2', '3', 'Tester', 'Rahul'],
 ['2', '3', 'Date', 'yesterday'],
 ['2', '3', 'PassFail', 'fail']]

In [31]:
d_filtered_with_mapping = [[3, '1', '3', 'ResDescription', 'Acid test'], [3, '1', '3', 'ConfigInfo', '1234'], [3, '1', '3', 'Tester', 'Vaibhav'], [3, '1', '3', 'Date', 'today'], [3, '1', '3', 'PassFail', 'PASS'], [4, '2', '3', 'ResDescription', 'Base Test'], [4, '2', '3', 'ConfigInfo', '2345'], [4, '2', '3', 'Tester', 'Rahul'], [4, '2', '3', 'Date', 'yesterday'], [4, 
'2', '3', 'PassFail', 'fail']]

In [32]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''
d_filtered_with_mapping = [[3, '1', '3', 'ResDescription', 'Acid test'], [3, '1', '3', 'ConfigInfo', '1234'], [3, '1', '3', 'Tester', 'Vaibhav'], [3, '1', '3', 'Date', 'today'], [3, '1', '3', 'PassFail', 'PASS'], [4, '2', '3', 'ResDescription', 'Base Test'], [4, '2', '3', 'ConfigInfo', '2345'], [4, '2', '3', 'Tester', 'Rahul'], [4, '2', '3', 'Date', 'yesterday'], [4, 
'2', '3', 'PassFail', 'fail']]

# query to insert the data into testresults table where the first element of the list is the map_id

# gather the values from the list for each unique map_id into a dictionary
# then insert the dictionary into testresults table

d_tr = {}
for i in d_filtered_with_mapping:
    if i[0] not in d_tr:
        d_tr[i[0]] = []
    d_tr[i[0]].append({i[3]:i[4]})

In [33]:
for map_id in d_tr.keys():
    c.execute("INSERT INTO testresults VALUES (:map_id, :result_description, :config_info, :tester, :execution_date, :pass_fail)",
    {'map_id': map_id, 'result_description': d_tr[map_id][0]['ResDescription'], 'config_info': d_tr[map_id][0]['ConfigInfo'], 'tester': d_tr[map_id][0]['Tester'], 'execution_date': d_tr[map_id][0]['Date'], 'pass_fail': d_tr[map_id][0]['PassFail']})

{3: [{'ResDescription': 'Acid test'},
  {'ConfigInfo': '1234'},
  {'Tester': 'Vaibhav'},
  {'Date': 'today'},
  {'PassFail': 'PASS'}],
 4: [{'ResDescription': 'Base Test'},
  {'ConfigInfo': '2345'},
  {'Tester': 'Rahul'},
  {'Date': 'yesterday'},
  {'PassFail': 'fail'}]}

In [43]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''
d_filtered_with_mapping = [[3, '1', '3', 'ResDescription', 'Acid Test'], [3, '1', '3', 'ConfigInfo', '1234'], [3, '1', '3', 'Tester', 'Vaibhav'], [3, '1', '3', 'Date', 'today'], [3, '1', '3', 'PassFail', 'PASS'], 
                        [4, '2', '3', 'ResDescription', 'Base'], [4, '2', '3', 'ConfigInfo', '2345'], 
                        [4, '2', '3', 'Tester', 'Rahul'], [4, '2', '3', 'Date', 'yesterday'], [4, '2', '3', 'PassFail', 'fail']]



# query to insert the data into testresults table where the first element of the list is the map_id

# gather the values from the list for each unique map_id into a dictionary
# then insert the dictionary into testresults table

d_tr = {}
for i in d_filtered_with_mapping:
    if i[0] not in d_tr:
        d_tr[i[0]] = {}
    d_tr[i[0]][i[3]] = i[4]
d_tr

{3: {'ResDescription': 'Acid Test',
  'ConfigInfo': '1234',
  'Tester': 'Vaibhav',
  'Date': 'today',
  'PassFail': 'PASS'},
 4: {'ResDescription': 'Base',
  'ConfigInfo': '2345',
  'Tester': 'Rahul',
  'Date': 'yesterday',
  'PassFail': 'fail'}}

In [45]:
d_tr[4]['ResDescription']

'Base'

In [ ]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

# query to fetch all the test results for a particular project id from the testresults table, using the mapping table
query = "SELECT * FROM testresults WHERE map_id IN (SELECT map_id FROM mapping WHERE project_id = :project_id)"

# select all project id and testcase_id when map_id = 3 from the mapping table
c.execute("SELECT project_id, testcase_id FROM mapping WHERE map_id = 3")

# select all project id, project_name and testcase_id, name, description, test_category when map_id = 3 from the mapping table koining with Mst_projects and Mst_testcases
c.execute("SELECT project_id, project_name, testcase_id, name, description, test_category FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id WHERE map_id = 3")

# query to fetch all the test results for a particular project id from the testresults table, using the mapping table
query = "SELECT * FROM testresults WHERE map_id IN (SELECT map_id FROM mapping WHERE project_id = :project_id)"
query = "SELECT Mst_projects.*, Mst_testcases.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id WHERE map_id = 3"

In [ ]:
# inner join testresults and mapping tables on map_id, inner join the result with Mst_projects and Mst_testcases tables
query = "SELECT Mst_projects.*, Mst_testcases.*, testresults.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id WHERE map_id = 3"

In [ ]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

# Dump all data from all the tables as json
import json

# dump the data from the testresults table with inner joins to all the tables
c.execute("SELECT Mst_projects.*, Mst_testcases.*, testresults.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id")

In [46]:
import sqlite3
conn = sqlite3.connect("testing.db")
# enforce foreign key rules
conn.execute("PRAGMA foreign_keys = 1")
c = conn.cursor()
dat = [row for row in c.execute("SELECT Mst_projects.*, Mst_testcases.*, testresults.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id")]

In [49]:
import json
json.dumps(dat)

'[[1, "project1", "project1 description", 1, "testcase1", "test category 1", "testcase1 description", "testcase1 steps", "testcase1 expected result", "Yes", 1, 1, "testcase1 result description", "testcase1 config info", "tester1", "2019-01-01", "pass"], [3, "ABCD", "by navneet", 1, "testcase1", "test category 1", "testcase1 description", "testcase1 steps", "testcase1 expected result", "Yes", 2, 3, "Acid Test", "1234", "Vaibhav", "today", "PASS"], [3, "ABCD", "by navneet", 2, "testcase2", "testCat3", "testcase2 description", "1. go. 2. come back", "test2Expected result", "No", 3, 4, "Base", "2345", "Rahul", "yesterday", "fail"], [3, "ABCD", "by navneet", 5, "tc5", "testCat3", "bjdskvsd\\r\\ndvsnvjfsdihvv\\r\\nfcvadfvtrhrjhmgfdsfvsb\\r\\nsfdfsdghftjfghhdgzsfaddn", "1. go. 2. come back 3.go back again", "test5Expected result", "25%", 4, 16, "Final cut", "6e7832", "mememe", "2030", ""], [3, "ABCD", "by navneet", 5, "tc5", "testCat3", "bjdskvsd\\r\\ndvsnvjfsdihvv\\r\\nfcvadfvtrhrjhmgfdsfvsb\\r\\nsfdfsdghftjfghhdgzsfaddn", "1. go. 2. come back 3.go back again", "test5Expected result", "25%", 5, 16, "test dups", "3423", "youyou", "aajhi", "patanahi"]]'

In [50]:
# inner join mapping table with Mst_projects table and Mst_testcases table


query= "SELECT Mst_projects.*, Mst_testcases.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id"
dat = [row for row in c.execute(query)]
dat

[(1,
  'project1',
  'project1 description',
  1,
  'testcase1',
  'test category 1',
  'testcase1 description',
  'testcase1 steps',
  'testcase1 expected result',
  'Yes'),
 (3,
  'ABCD',
  'by navneet',
  1,
  'testcase1',
  'test category 1',
  'testcase1 description',
  'testcase1 steps',
  'testcase1 expected result',
  'Yes'),
 (3,
  'ABCD',
  'by navneet',
  2,
  'testcase2',
  'testCat3',
  'testcase2 description',
  '1. go. 2. come back',
  'test2Expected result',
  'No'),
 (3,
  'ABCD',
  'by navneet',
  5,
  'tc5',
  'testCat3',
  'bjdskvsd\r\ndvsnvjfsdihvv\r\nfcvadfvtrhrjhmgfdsfvsb\r\nsfdfsdghftjfghhdgzsfaddn',
  '1. go. 2. come back 3.go back again',
  'test5Expected result',
  '25%'),
 (3,
  'ABCD',
  'by navneet',
  5,
  'tc5',
  'testCat3',
  'bjdskvsd\r\ndvsnvjfsdihvv\r\nfcvadfvtrhrjhmgfdsfvsb\r\nsfdfsdghftjfghhdgzsfaddn',
  '1. go. 2. come back 3.go back again',
  'test5Expected result',
  '25%')]

In [57]:
import sqlite3
conn = sqlite3.connect("testing.db")
# enforce foreign key rules
conn.execute("PRAGMA foreign_keys = 1")
# c = conn.cursor()
conn.row_factory = sqlite3.Row
v  = conn.execute("select * from Mst_Projects")
# dat = [row for row in c.execute("SELECT Mst_projects.*, Mst_testcases.*, testresults.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id")]
conn.close()

In [65]:
def sql_data_to_list_of_dicts(path_to_db, select_query):
    """Returns data from an SQL query as a list of dicts."""
    try:
        con = sqlite3.connect(path_to_db)
        con.row_factory = sqlite3.Row
        things = con.execute(select_query).fetchall()
        unpacked = [{k: item[k] for k in item.keys()} for item in things]
        return unpacked
    except Exception as e:
        print(f"Failed to execute. Query: {select_query}\n with error:\n{e}")
        return []
    finally:
        con.close()

sql_data_to_list_of_dicts("testing.db", "SELECT Mst_projects.*, Mst_testcases.*, testresults.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id")

[{'project_id': 1,
  'name': 'project1',
  'description': 'project1 description',
  'testcase_id': 1,
  'test_category': 'test category 1',
  'steps': 'testcase1 steps',
  'expected_result': 'testcase1 expected result',
  'automated': 'Yes',
  'tr_id': 1,
  'map_id': 1,
  'result_description': 'testcase1 result description',
  'config_info': 'testcase1 config info',
  'tester': 'tester1',
  'execution_date': '2019-01-01',
  'pass_fail': 'pass'},
 {'project_id': 3,
  'name': 'ABCD',
  'description': 'by navneet',
  'testcase_id': 1,
  'test_category': 'test category 1',
  'steps': 'testcase1 steps',
  'expected_result': 'testcase1 expected result',
  'automated': 'Yes',
  'tr_id': 2,
  'map_id': 3,
  'result_description': 'Acid Test',
  'config_info': '1234',
  'tester': 'Vaibhav',
  'execution_date': 'today',
  'pass_fail': 'PASS'},
 {'project_id': 3,
  'name': 'ABCD',
  'description': 'by navneet',
  'testcase_id': 2,
  'test_category': 'testCat3',
  'steps': '1. go. 2. come back',
  'expected_result': 'test2Expected result',
  'automated': 'No',
  'tr_id': 3,
  'map_id': 4,
  'result_description': 'Base',
  'config_info': '2345',
  'tester': 'Rahul',
  'execution_date': 'yesterday',
  'pass_fail': 'fail'},
 {'project_id': 3,
  'name': 'ABCD',
  'description': 'by navneet',
  'testcase_id': 5,
  'test_category': 'testCat3',
  'steps': '1. go. 2. come back 3.go back again',
  'expected_result': 'test5Expected result',
  'automated': '25%',
  'tr_id': 4,
  'map_id': 16,
  'result_description': 'Final cut',
  'config_info': '6e7832',
  'tester': 'mememe',
  'execution_date': '2030',
  'pass_fail': ''},
 {'project_id': 3,
  'name': 'ABCD',
  'description': 'by navneet',
  'testcase_id': 5,
  'test_category': 'testCat3',
  'steps': '1. go. 2. come back 3.go back again',
  'expected_result': 'test5Expected result',
  'automated': '25%',
  'tr_id': 5,
  'map_id': 16,
  'result_description': 'test dups',
  'config_info': '3423',
  'tester': 'youyou',
  'execution_date': 'aajhi',
  'pass_fail': 'patanahi'}]

In [ ]:
# mapping table inner joined to Mst_projects table and Mst_testcases table
query = "SELECT Mst_projects.*, Mst_testcases.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id"

In [ ]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

# project ID = 1
# find all tests mapped to the project ID that do not have a test result in the testresults table

query = "SELECT Mst_projects.*, Mst_testcases.* FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id WHERE map_id NOT IN (SELECT map_id FROM testresults)"

In [27]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

# import data from excel file to Mst_testcases table. Excel file has the columns: 
# name, test category, description, steps, expected_result, automated
# the data needs to be appended to existing data.
# respect the primary key constraint. Primary key is testcase_id. auto increment.

import pandas as pd
import sqlite3
conn = sqlite3.connect("testing.db")
# enforce foreign key rules
conn.execute("PRAGMA foreign_keys = 1")
c = conn.cursor()
# read excel file, forst row is the header
df = pd.read_excel("testcases.xlsx", header=1)



df.drop(df.columns[0], axis=1, inplace=True)
df.to_sql("Mst_testcases", conn, if_exists="append", index=False)

In [ ]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

# top 5 tests by their frequency of mapping in projects
query = "SELECT Mst_testcases.name, COUNT(*) as frequency FROM mapping JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id GROUP BY mapping.testcase_id ORDER BY frequency DESC LIMIT 5"

# top 5 tests by their frequency of execution in projects using testresults table and mapping table
query = "SELECT Mst_testcases.name, COUNT(*) as frequency FROM testresults JOIN mapping ON testresults.map_id = mapping.map_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id GROUP BY mapping.testcase_id ORDER BY frequency DESC LIMIT 5"

# top 5 tests by their frequency of execution in a given project id using 
# testresults table and mapping table and mst_projects table
query = "SELECT Mst_testcases.name, COUNT(*) as frequency FROM testresults JOIN mapping ON testresults.map_id = mapping.map_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id WHERE Mst_projects.project_id = 1 GROUP BY mapping.testcase_id ORDER BY frequency DESC LIMIT 5"

In [2]:
"""create a new database if the database doesn't already exist
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        5. users (username, hash)
        ON DELETE CASCADE
"""

conn = sqlite3.connect("testing.db")
# enforce foreign key rules
conn.execute("PRAGMA foreign_keys = 1")
c = conn.cursor()

# create tables
c.execute("""CREATE TABLE IF NOT EXISTS Mst_testcases (
            testcase_id INTEGER PRIMARY KEY,
            name TEXT,
            test_category TEXT,
            description TEXT,
            steps TEXT,
            expected_result TEXT,
            automated TEXT )""")

c.execute("""CREATE TABLE IF NOT EXISTS Mst_projects (
            project_id INTEGER PRIMARY KEY,
            name TEXT,
            description TEXT )""")

c.execute("""CREATE TABLE IF NOT EXISTS Mapping (
            map_id INTEGER PRIMARY KEY,
            project_id INTEGER,
            testcase_id INTEGER,
            FOREIGN KEY(project_id) REFERENCES Mst_projects(project_id),
            FOREIGN KEY(testcase_id) REFERENCES Mst_testcases(testcase_id)
            ON DELETE CASCADE )""")

c.execute("""CREATE TABLE IF NOT EXISTS testresults (
            tr_id INTEGER PRIMARY KEY,
            map_id INTEGER,
            result_description TEXT,
            config_info TEXT,
            tester TEXT,
            execution_date TEXT,
            pass_fail TEXT,
            FOREIGN KEY(map_id) REFERENCES Mapping(map_id)
            ON DELETE CASCADE )""")


''' add uniqueness constraint on mapping table project id and testcase id'''
c.execute("""CREATE UNIQUE INDEX IF NOT EXISTS unique_mapping_index
            ON Mapping(project_id, testcase_id)""")

c.execute(""" CREATE TABLE IF NOT EXISTS users (
            username TEXT PRIMARY KEY,
            hash TEXT )""")

NameError: name 'sqlite3' is not defined

In [14]:
from werkzeug.security import generate_password_hash, check_password_hash

h = generate_password_hash('12345')

In [15]:
check_password_hash(h, '12345')

True

In [17]:
import sqlite3
conn = sqlite3.connect("testing.db")
c = conn.cursor()

# insert username vaibhav.garg@genus.in and hashed password 12345 into users table
c.execute("INSERT INTO users(username, hash) VALUES(':username, :hash)", {'username': 'vaibhav.garg@genus.in', 'hash': generate_password_hash('12345')})


conn.commit()

OperationalError: unrecognized token: "':username, :hash)"

In [19]:
import sqlite3
conn = sqlite3.connect("testing.db")
c = conn.cursor()

# insert username vaibhav.garg@genus.in and hashed password 12345 into users table
# table users (username, hash)

c.execute("INSERT INTO users(username, hash) VALUES(:username, :hash)", {'username': 'vaibhav.garg@genus.in', 'hash': generate_password_hash('12345')})
conn.commit()

In [22]:

query = "SELECT * FROM users where username = 'vaibhav.garg@genus.in'"
[row for row in c.execute(query)]

[('vaibhav.garg@genus.in',
  'pbkdf2:sha256:150000$e6H1etAe$6b03629692fa289a7f7f59905ea9d407a89351164927aba5dce2ac01782ff0ba')]

In [29]:
c.execute(query)
c.fetchone()[1]

'pbkdf2:sha256:150000$e6H1etAe$6b03629692fa289a7f7f59905ea9d407a89351164927aba5dce2ac01782ff0ba'

In [76]:
import sqlite3
conn = sqlite3.connect("testing1.db")
c = conn.cursor()

query = "SELECT Mst_projects.*, Mst_testcases.*, testresults.*, Mst_testcases.name as tc_name FROM mapping JOIN Mst_projects ON mapping.project_id = Mst_projects.project_id JOIN Mst_testcases ON mapping.testcase_id = Mst_testcases.testcase_id JOIN testresults ON mapping.map_id = testresults.map_id"

data = [row for row in c.execute(query)]
import pandas as pd
df = pd.read_sql_query(query, conn)
df_pvt = df[df['project_id'] ==3]
# select only testcase_id, tc_name columns from df_pvt
df_pvt = df_pvt[['testcase_id', 'tc_name', ]]
# create pivot table, with tc_name as index and count of testcase_id as column
df_pvt.pivot_table(index='tc_name', aggfunc='count').sort_values(by='testcase_id', ascending=False)

           testcase_id
tc_name
tc5                  5
testcase1            4
testcase2            4
tc1234               1

In [5]:
'''database schema
        database name testing.db
        tables
        1. Mst_testcases (testcase_id, name, test category, description, steps, expected_result, automated)
        2. Mst_projects (project_id, name, description)
        3. Mapping (map_id, project_id, testcase_id)
        4. testresults(tr_id, map_id, result_description, config_info, tester, execution_date, pass_fail)
        ON DELETE CASCADE
        
'''

# insert 10000 rows into Mst_testcases table with dummy data
import sqlite3
conn = sqlite3.connect("testing.db")
c = conn.cursor()

query = "INSERT INTO Mst_testcases(name, test_category, description, steps, expected_result, automated) VALUES(:name, :test_category, :description, :steps, :expected_result, :automated)"
for i in range(1000000):
    c.execute(query, {'name': 'testcase_name'+str(i), 'test_category': 'test_category'+str(i), 'description': 'description'+str(i), 'steps': 'steps'+str(i), 'expected_result': 'expected_result'+str(i), 'automated': 'automated' +str(i)}
)

conn.commit()